<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/">
            <img class="logo" src="assets\logo.png" alt="logo">
        </a>
    </span>
    <div class="title-menu">
        <span class="title-groups">
            <a routerLink="{{ routeUrl }}">
                <i class="material-icons">{{icon}}</i>
                <strong class="title" >
                    {{title}}
                </strong>
            </a>
        </span>
        <button class="btn-mobile" (click)="toggleMenu()">
            <span id="hamburger"></span>
        </button>
    </div>
</mat-toolbar>