.header {
    display: flex;
    align-items: center;
    background-color: #E8E8E8;
    width: 100%;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.header .logo {
    max-height: 40px;
}

.header .title-groups {
    margin-left: 30px;
}

.header .title-groups i {
    margin-right: 10px;
}

.title-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    .btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    
    #hamburger.active {
        border-top-color: transparent;
    }

    #hamburger.active::before {
        transform: rotate(135deg);
    }

    #hamburger.active::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

@media (max-width: 370px) {
    .header .title-groups {
        display: none;
    }

    .header {
        justify-content: space-between;
    }

    .title-menu {
        width: auto;
    }
}