<mat-card>
    <mat-card-title> Excluir Produto </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" disabled [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" disabled [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteProduct()"  color="warn"> Deletar </button>
    <button mat-raised-button (click)="cancel()" class="cancel"> Cancelar </button>
</mat-card>